<div class="row">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button  class="btn btn-primary" [routerLink]="['ajout']" routerLinkActive="active">Ajouter un étudiant</button>
    <button  class="btn btn-primary" [routerLink]="['consultation']" routerLinkActive="active">Consulter</button>
    <!--<button  class="btn btn-primary" [routerLink]="['autre']" routerLinkActive="active">Autre action</button>
    <button  class="btn btn-primary" [routerLink]="['autre']" routerLinkActive="active">Autre action</button>
    <button  class="btn btn-primary" [routerLink]="['autre']" routerLinkActive="active">Autre action</button>
    <button  class="btn btn-primary" [routerLink]="['autre']" routerLinkActive="active">Autre action</button>-->
  </div>
</div>

<router-outlet></router-outlet>
